<ion-header>
    <ion-navbar color="primary" class="white-text">
        <ion-title>My Documents</ion-title>
        <ion-buttons right>
            <button color="light" menuToggle="right" ion-button icon-only>
				<ion-icon name="more"></ion-icon>
			</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <!--*********** List  ***********-->
    <ion-list *ngIf="loaded">
        <ion-item *ngFor="let item of files">
            <ion-label>
                <h2>{{ item.title }}</h2>
                <p>{{ item.description }}</p>
            </ion-label>
            <ion-note item-end>
                <button ion-button icon-only tappable clear (click)="goToDetail( item.file_path )">
					View
				</button>
            </ion-note>
        </ion-item>
    </ion-list>
    <div *ngIf="loaded && files.length > 0" padding>
        <button ion-button full color="primary" (click)="downloadUrl()">
			Download Your Files
		</button>
    </div>
    <ion-card color="danger" class="rainbow-content" *ngIf="loaded && files.length === 0">
        <ion-card-content>
            <ion-card-title>
                My Documents is Empty
            </ion-card-title>
            <p>
                When you add a documents, they appears here.
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>