<ion-header>
	<ion-navbar color="primary" class="white-text">
		<ion-title>What's On</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<!--*********** List  ***********-->
	<ion-list *ngIf="loaded">
		<ion-item-group *ngFor="let group of info | groupBy: 'start_time'">
			<ion-item-divider color="light">
				{{ group.key | date: "h:mm a" }}
			</ion-item-divider>
			<button ion-item tappable *ngFor="let item of group.list" (click)="goToDetail( item.session_id )">
				<p>
					<small>{{ item.start_date | date: "M/d/y" }} {{ item.start_time | date: "h:mm a" }}</small>
				</p>
				<h2>{{ item.session_name }}</h2>
				<p>
					<em>{{ item.room }}</em>
				</p>
			</button>
		</ion-item-group>
	</ion-list>
	<ion-card *ngIf="loaded && !info.length" color="danger" class="rainbow-content">
		<ion-card-content>
			<ion-card-title>
				Nothing is on right now
			</ion-card-title>
			<p>
				During the event, this space will show the sessions that are currently taking place.
			</p>
		</ion-card-content>
	</ion-card>
</ion-content>